/* You can add global styles to this file, and also import other style files */
/* resets */
body {
  margin: 0px;
  padding: 0px;
  color: white;
  background-image: url("/assets/bg6.jpg");
  background-attachment: fixed;
  font-family: "Open Sans Condensed", sans-serif;
  background-size: cover;
}
